.react-flow__node-executionNode {
  font-size: 12px;
  background: #fff;
  border: 1px solid #555;
  border-radius: 5px;
  text-align: center;
  width: 160px;
  height: 70px;
}

.shared-infra-view__content {

}

.shared-infra-view__diagram {
  height: 100vh;
  width: calc(100vw - 380px);
  margin-left: 300px;
  background-color: #000;
}

.shared-infra-diagram__default-panel {
  position: fixed !important;
  top: 0px;
  left: 80px;
  width: 300px;
  bottom: 0px;
  background-color: #2c2c2e;
  color: rgba(255, 255, 255, 0.7);
  padding: 15px;
  z-index: 1;
}

.shared-infra-diagram__default-panel__execution {
  font-size: 14px;
  padding: 10px;
  background-color: #1c1c1e !important;
}

.shared-infra-diagram__default-panel__execution--error {
  font-size: 14px;
  padding: 10px;
  background-color: #de4439 !important;
}

.shared-infra-diagram__default-panel__execution--success {
  font-size: 14px;
  padding: 10px;
  background-color: #13aa80 !important;
}

.shared-infra-diagram__default-panel__execution--running {
  font-size: 14px;
  padding: 10px;
  background-color: #0e7afe !important;
}