
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #15161b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.card {
  background-color: #202029;
  color: rgba(255, 255, 255, 0.7);
}

.list-group-item {
  border: 0;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid #000;
}

.list-group-item:last-child {
  border-bottom: 0;
}

.btn-primary {
  background-color: #7a00ff;
  border: 0;
}

.form-control {
  background-color: #202029;
  color: rgba(255, 255, 255, 0.7);
}

.form-select {
  background-color: #202029;
  color: rgba(255, 255, 255, 0.7);
}

.form-control:focus {
  background-color: #202029;
  color: rgba(255, 255, 255, 0.7);
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:  rgba(255, 255, 255, 0.3);
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:  rgba(255, 255, 255, 0.3);
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
  color:  rgba(255, 255, 255, 0.3);
}