:root > * {
  --md-primary-fg-color:        rgb(28, 28, 30);
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark:  #90030C;
  --md-default-fg-color--lighter: #448aff;
}

.md-typeset a  {
  color: #448aff !important;
}

.md-logo img {
  width: 100% !important;
}

.md-header__topic span {
  display: none;
}