.main__sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  background-color: #1f2029;
  width: 80px;
  text-align: center;
  font-size: 18px;
}

.main__sidebar .nav-link {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
  padding: 15px 0 15px 0;
}

.main__sidebar .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.7);
}

.main__sidebar .nav-link.active {
  color: #fff;
  background-color: #7a00ff;
  box-shadow: 0 0 10px 3px rgba(122, 0, 255, 0.35);
}

.main__content {
  margin-left: 80px;
}